body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2 {
  margin: 0;
}

main, footer {
  max-width: 800px;
  margin: auto;
}

footer {
  margin-top: 3em;
}
footer, footer a {
  color: #808080;
}

img { /* logo */
  margin-bottom: 1em;
  max-width: 80%;
}

section {
  border: 1px solid #808080;
  padding: 1em;
  margin: 2em 0;
}

section.not-today {
  border: 1px dashed #E6E6E6;
}

p.error {
  background: #8C1C00;
  color: white;
  padding: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

tr.me {
  background: #008C4F;
  color: white;
}

tr.overhang {
  background: #8C1C00;
  color: white;
}

th, td {
  border: 1px solid #808080;
  padding: 0.5em;
}

input {
  width: 100%;
  max-width: 400px;
}

@media print {
  .no-print {
    display: none;
  }
}
