body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2 {
  margin: 0;
}

main {
  max-width: 800px;
  margin: auto;
}

img { /* logo */
  margin-bottom: 1em;
}

section {
  border: 1px solid #aaa;
  padding: 1em;
  margin: 2em 0;
}

p.error {
  background: red;
  color: white;
  padding: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr.me {
  background: green;
  color: white;
}

tr.overhang {
  background: red;
  color: white;
}

th, td {
  border: 1px solid #aaa;
  padding: 0.5em;
}

input {
  width: 100%;
  max-width: 400px;
}

@media print {
  .no-print {
    display: none;
  }
}
